.order-card {
  width: 40%;
  background: white;
  border: 1px solid grey;
  margin: 10px auto;
}
.order-card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  background: #ccc;
  font-weight: bolder;
  padding: 10px;
}
.Processing, .In-Transit, .Cancelled, .Delivered {
  padding: 5px 10px;
  font-weight: bolder;
  color: 00ad45;
}
.Processing {
  background-color: yellow;
}
.In-Transit {
  background-color: blue;
}
.Cancelled {
  background-color: red;
}
.Delivered {
  background-color: green;
}
.order-card-list {
  display: flex;
}
.order-card-list  li {
  margin: 10px;
  padding: 10px;
}
.bold-font {
  font-weight: bold;
  padding: 10px;
}
.order-card-img {
  width: 80px;
  height: 50px;
}
