.reset-password {
  background-color: #f1f1f1;
  padding: 8em;
}
.reset-form-container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid #fff;
  text-align: center;
  background: #fff;
  padding: 2em;
}
.reset-form-container label {
  text-align: left;
}
.reset-form-container  input {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .reset-password {
  background-color: #f1f1f1;
  padding: 0;
}
  .reset-form-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}
}
